.middle
{
	vertical-align: middle !important;

}
body
{
	 background-image: url("../images/bg.jpg");
}
.box
{
	border-radius: 5px;
  background-color: white;
  padding: 2px 2px 2px 2px;
}
.pequeno
{
	max-width: 500px;
	max-height:  500px;
}
.fld
{
	margin-top: 200px; 
}
@media print
{
	.btn
	{
		display: none;
	}
}